*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.cabeca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background: #9e0e60;
}

.cabeca-imagem{
    height: 50px;
}

.cabeca-menu{
    display: flex;
    gap: 32px;
}

.cabeca-menu-item{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 18px;
}

.main{
    border-top: 0.4px solid #FFFFFF;
    background: #f4598e;
}

.main-titulo{
    font-family: 'Rubik', sans-serif;
    padding: 20px;
}

.main-item{
    font-family: 'Rubik', sans-serif;
    padding: 20px;
}

.main-nome{
    font-size: 35px;
    color: white;
}

.main-valor{
    font-size: 15px;
    color: white;
}

.main-quantidade{
    font-size: 15px;
    color: white;
}

.rodape{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 24;
    color: white;
    background: #9e0e60;
}
